<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
 <targets>
    <!-- write logs to file -->-
    <target xsi:type="File" name="file" fileName="log/nlog.log"
                 layout="${date:universalTime=true:format=s}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=type,message,stacktrace:maxInnerExceptionLevel=50:separator=\:}" 
                 archiveAboveSize="50000000"/>
    <!-- write logs to Redis -->
    <!--<target xsi:type="Redis" name="redis" host="10.0.5.5" port="6379" db="0" key="logstash-demochan" dataType="channel"
                 layout="${date:format=yyyyMMddHHmmss} ${uppercase:${level}} ${message}" />-->
    <!-- write logs to Console -->
    <target name="console" xsi:type="ColoredConsole"
        layout="${date:universalTime=true:format=s} | ${level:uppercase=true} | ${logger} | ${threadid} | ${message}${onexception: | EXCEPTION\:${newline}${exception:maxInnerExceptionLevel=20:format=shortType,message,method,stacktrace}}" />
    
  </targets>

  <rules>
    <!--<logger name="RedisLogger" minlevel="Error" final="true" writeTo="Redis"/>-->
    <logger name="*" minlevel="Error" writeTo="file"/>-->
    <logger name="*" minlevel="Debug" writeTo="console"/>
  </rules>
</nlog>